:root {
  --topOrbitalAnimationTime: 1.2s;
  --middleOrbitalAnimationTime: 1.5s;
  --bottomOrbitalAnimationTime: 1.3s;
}

.AtomCircle {
  width: 100px;
  height: 100px;
  background: rgb(72, 105, 102);
  background: rgb(93, 135, 131);
  background: radial-gradient(
    circle,
    rgba(93, 135, 131, 1) 0%,
    rgba(72, 105, 102, 1) 100%
  );
  border: 1px solid black;
  border-radius: 50%;
  transition: 0.2s;
  position: relative;
  pointer-events: none;
}

.AtomCircle:hover {
  transform: scale(1.3);
}

.AtomCircle:hover .orbit {
  display: block;
}

.AtomCircle img {
  position: absolute;
  left: 0;
  top: 15px;
  z-index: 1;
}

.hoverable {
  height: inherit;
  width: inherit;
  border-radius: 50%;
  pointer-events: auto;
}

.orbit {
  position: absolute;
  width: 50px;
  left: 95px;
  height: 100px;
  position: absolute;
  display: none;
  border-radius: 50%;
}

.orbit svg {
  position: absolute;
  left: -189px;
  top: 15px;
  rotate: 180deg;
}

.rotate {
  width: 100%;
  height: 100%;
}

.counterRotate {
  width: 50px;
  height: 50px;
}

.orbital {
  width: 20px;
  height: 20px;
  background: rgb(93, 135, 131);
  background: radial-gradient(
    circle,
    rgba(93, 135, 131, 1) 0%,
    rgba(72, 105, 102, 1) 100%
  );
  border-radius: 50%;
  position: absolute;
  transform: scaleX(0.2);
}

#topOrbital {
  transform: rotate(45deg) scaleX(5);
  left: 54px;
  top: 54px;
}

#middleOrbital {
  top: 10px;
  transform: scaleX(5);
}

#bottomOrbital {
  transform: rotate(-45deg) scaleX(5);
  top: -45px;
}

/** Animations **/

@keyframes circle {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    border: none;
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes counterCircle {
  0% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes borderFade {
  0% {
    border: none;
    scale: 0.9;
  }
  25% {
    border: 1px solid black;
    scale: 1.1;
  }
  75% {
    border: 1px solid black;
    scale: 1.1;
  }
  100% {
    border: none;
    scale: 0.9;
  }
}

/** --- Animation specifications for each orbital. Lots of repetition here --- **/

.AtomCircle:hover #topOrbital .orbital {
  animation: borderFade var(--topOrbitalAnimationTime) infinite linear;
}

.AtomCircle:hover #topOrbital .rotate {
  animation: circle var(--topOrbitalAnimationTime) infinite linear;
  transform-origin: 50% 50%;
}

.AtomCircle:hover #topOrbital .counterRotate {
  animation: counterCircle var(--topOrbitalAnimationTime) infinite linear;
}

.AtomCircle:hover #middleOrbital .orbital {
  animation: borderFade var(--middleOrbitalAnimationTime) infinite linear;
}

.AtomCircle:hover #middleOrbital .rotate {
  animation: circle var(--middleOrbitalAnimationTime) infinite linear;
  transform-origin: 50% 50%;
}

.AtomCircle:hover #middleOrbital .counterRotate {
  animation: counterCircle var(--middleOrbitalAnimationTime) infinite linear;
}

.AtomCircle:hover #bottomOrbital .orbital {
  animation: borderFade var(--bottomOrbitalAnimationTime) infinite linear;
}

.AtomCircle:hover #bottomOrbital .rotate {
  animation: circle var(--bottomOrbitalAnimationTime) infinite linear;
  transform-origin: 50% 50%;
}

.AtomCircle:hover #bottomOrbital .counterRotate {
  animation: counterCircle var(--bottomOrbitalAnimationTime) infinite linear;
}
