:root {
  --topOrbitalAnimationTime: 1.2s;
  --upperMiddleOrbitalAnimationTime: 1.4s;
  --middleOrbitalAnimationTime: 1.6s;
  --lowerMiddleOrbitalAnimationTime: 1.8s;
  --bottomOrbitalAnimationTime: 2s;
}

.AtomCircle {
  width: 100px;
  height: 100px;
  background-color: rgb(182, 212, 202);
  border: 1px solid black;
  border-radius: 50%;
  transition: 0.2s;
  position: relative;
}

.AtomCircle:hover {
  transform: scale(1.3);
}

.AtomCircle:hover .orbital {
  display: block;
}

.AtomCircle img {
  position: absolute;
  left: 0;
  top: 15px;
}

.orbit {
  position: absolute;
  width: 50px;
  left: 95px;
  height: 100px;
  position: absolute;
  border-radius: 50%;
}

.rotate {
  width: 100%;
  height: 100%;
}

.counterRotate {
  width: 50px;
  height: 50px;
}

.orbital {
  width: 20px;
  height: 20px;
  background-color: rgb(182, 212, 202);
  border-radius: 50%;
  position: absolute;
  display: none;
  transform: scaleX(0.2);
}

#topOrbital {
  transform: rotate(45deg) scaleX(5);
  left: 50px;
  top: 50px;
}

#upperMiddleOrbital {
  transform: rotate(160deg) scaleX(5);
  left: -48px;
}

#middleOrbital {
  top: 20px;
  transform: scaleX(5);
}

#lowerMiddleOrbital {
  left: -28px;
  top: -60px;
  transform: rotate(-160deg) scaleX(5);
}

#bottomOrbital {
  transform: rotate(-45deg) scaleX(5);
  top: -25px;
}

/** Animations **/

@keyframes circle {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    border: none;
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes counterCircle {
  0% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes borderFade {
  0% {
    border: none;
  }
  25% {
    border: 1px solid black;
  }
  75% {
    border: 1px solid black;
  }
  100% {
    border: 1px none;
  }
}

/** --- Animation specifications for each orbital. Lots of repetition here --- **/

.AtomCircle:hover #topOrbital .orbital {
  animation: borderFade var(--topOrbitalAnimationTime) infinite linear;
}

.AtomCircle:hover #topOrbital .rotate {
  animation: circle var(--topOrbitalAnimationTime) infinite linear;
  transform-origin: 50% 50%;
}

.AtomCircle:hover #topOrbital .counterRotate {
  animation: counterCircle var(--topOrbitalAnimationTime) infinite linear;
}

.AtomCircle:hover #upperMiddleOrbital .orbital {
  animation: borderFade var(--upperMiddleOrbitalAnimationTime) infinite linear;
}

.AtomCircle:hover #upperMiddleOrbital .rotate {
  animation: circle var(--upperMiddleOrbitalAnimationTime) infinite linear;
  transform-origin: 50% 50%;
}

.AtomCircle:hover #upperMiddleOrbital .counterRotate {
  animation: counterCircle var(--upperMiddleOrbitalAnimationTime) infinite
    linear;
}

.AtomCircle:hover #middleOrbital .orbital {
  animation: borderFade var(--middleOrbitalAnimationTime) infinite linear;
}

.AtomCircle:hover #middleOrbital .rotate {
  animation: circle var(--middleOrbitalAnimationTime) infinite linear;
  transform-origin: 50% 50%;
}

.AtomCircle:hover #middleOrbital .counterRotate {
  animation: counterCircle var(--middleOrbitalAnimationTime) infinite linear;
}

.AtomCircle:hover #lowerMiddleOrbital .orbital {
  animation: borderFade var(--lowerMiddleOrbitalAnimationTime) infinite linear;
}

.AtomCircle:hover #lowerMiddleOrbital .rotate {
  animation: circle var(--lowerMiddleOrbitalAnimationTime) infinite linear;
  transform-origin: 50% 50%;
}

.AtomCircle:hover #lowerMiddleOrbital .counterRotate {
  animation: counterCircle var(--lowerMiddleOrbitalAnimationTime) infinite
    linear;
}

.AtomCircle:hover #bottomOrbital .orbital {
  animation: borderFade var(--bottomOrbitalAnimationTime) infinite linear;
}

.AtomCircle:hover #bottomOrbital .rotate {
  animation: circle var(--bottomOrbitalAnimationTime) infinite linear;
  transform-origin: 50% 50%;
}

.AtomCircle:hover #bottomOrbital .counterRotate {
  animation: counterCircle var(--bottomOrbitalAnimationTime) infinite linear;
}
