.HologramCircle {
  width: 100px;
  height: 100px;
  background: rgb(72, 105, 102);
  background: rgb(93, 135, 131);
  background: radial-gradient(
    circle,
    rgba(93, 135, 131, 1) 0%,
    rgba(72, 105, 102, 1) 100%
  );
  border-radius: 50%;
  transition: 0.3s;
  position: relative;
}

.HologramCircle img {
  position: absolute;
  left: 0;
  top: 15px;
  z-index: 1;
  transition: 0.4s;
}

.HologramCircle:hover {
  transform: scaleY(0.5);
  box-shadow: 0 20px rgb(72, 105, 102);
}

.HologramCircle:hover img {
  scale: 2.5;
  top: -200px;
  animation: spin 10s infinite linear;
}

/** Animations **/

@keyframes spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
